html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

body {
    background: url(/img/bg.png);
}

.ui.page.grid {
    padding-top: 10vh;
}

.ui.header {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ui.large.header {
    font-weight: 200;
}

h1.ui.header {
    font-size: 5.2rem;
}

.ui.header {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.large.header {
    margin-bottom: 1.5rem;
}

.ui.negative.message {
    margin-bottom: 1.5rem;
}

td .ui.progress {
    margin-bottom: 0;
}

.ui.progress {
    margin-bottom: 0 !important;
}

.ui.progress > .label {
    position: relative;
}

#drop {
    min-height: 100%;
}

.dragover .ui.upload.button {
    background-color: #16ab39 !important;
    color: #ffffff;
    text-shadow: none;
}

.dragover .ui.upload.button:before {
    content: 'Drop it here~';
}

.dragover .ui.upload.button > span {
    display: none;
}